/* UTILS */
/* COLORS */
/* LAYOUTS */
footer {
  text-align: center;
}
footer span {
  font-size: 1em;
  font-weight: bold;
}

.group {
  padding: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column-reverse;
}
.group .logo {
  width: 60px;
  height: 50px;
  align-self: center;
}
.group .title {
  color: #D04F4F;
  font-family: "DM regular";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
}

/* COMPONENTS */
.btn-group .btn-primary {
  background-color: #3282F7;
}
.btn-group .dropdown-menu {
  color: white;
  background-color: #3282F7;
  border-radius: 5px;
}
.btn-group .dropdown-menu .dropdown-item {
  color: white;
}

.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 69px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.icon {
  font-size: 2em;
  height: 100%;
  padding-top: 20px;
  padding-right: 25px;
  background: #E7E7E7;
  color: black;
  min-width: 50px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.input-field {
  height: 100%;
  width: 100%;
  text-indent: 30px;
  padding: 10px;
  outline: none;
  background-color: #E7E7E7;
  border: transparent;
  border-radius: 5px 0px 0px 5px;
}

.input-field::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  opacity: 0.25;
}

.inputs-container {
  width: auto;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  font-family: "Lato";
}

.input--ingredients,
.input--devices,
.input--utensils {
  height: 100%;
  border-radius: 20px;
  display: grid;
  justify-content: flex-start;
}

.input--ingredients {
  background-color: #3282F7;
}

.input--devices {
  background-color: #68D9A4;
  margin-left: 20px;
}

.input--utensils {
  background-color: #ED6454;
  margin-left: 20px;
}

.btn-field {
  grid-row: 1;
  grid-column: 1;
  height: 75px;
  width: auto;
  text-indent: 30px;
  font-size: 1em;
  padding: 10px;
  outline: none;
  background-color: #3282F7;
  font-weight: bold;
  color: white;
  border: transparent;
  border-radius: 5px 0px 0px 5px;
}

.style--ingredients {
  background-color: #3282F7;
}

.style--devices {
  background-color: #68D9A4;
}

.style--utensils {
  background-color: #ED6454;
}

.btn-field::placeholder {
  font-weight: bold;
  color: white;
  font-size: 1em;
  opacity: 1;
}

.arrowhead--down {
  grid-row: 1;
  grid-column: 2;
  font-size: 2em;
  height: 100%;
  color: white;
  width: 50px;
  border: none;
  padding: 0;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.arrowhead--up {
  grid-row: 1;
  grid-column: 2;
  font-size: 2em;
  height: 100%;
  color: white;
  width: 50px;
  border: none;
  padding: 0;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.ingredients__list,
.devices__list,
.utensils__list {
  z-index: 10;
  background-color: #3282F7;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 750px;
  flex-wrap: wrap;
  width: 800px;
  font-weight: bold;
  color: white;
  border-radius: 0 0 10px 10px;
  display: none;
}
.ingredients__list p,
.devices__list p,
.utensils__list p {
  padding-left: 35px;
}

.ingredients__list {
  background-color: #3282F7;
}

.devices__list {
  background-color: #68D9A4;
}

.utensils__list {
  background-color: #ED6454;
}

.ingredients__list ul,
.devices__list ul,
.utensils__list ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 700px;
  padding-bottom: 20px;
  margin: 0px;
}
.ingredients__list li,
.devices__list li,
.utensils__list li {
  cursor: pointer;
  font-size: 0.8em;
}

.tags-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 20px;
}
.tags-container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 25px 10px 25px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  border: transparent;
  border-radius: 5px;
  max-height: auto;
  max-height: autopx;
  width: auto;
}
.tags-container button i {
  padding-left: 15px;
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .input--devices,
.input--utensils {
    margin-left: 0px;
  }

  .ingredients__list,
.devices__list,
.utensils__list {
    text-align: center;
  }
  .ingredients__list ul,
.devices__list ul,
.utensils__list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
  }
  .ingredients__list li,
.devices__list li,
.utensils__list li {
    cursor: pointer;
    font-size: 0.85em;
  }
}
.recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  row-gap: 30px;
}
.recipes .card {
  width: 31%;
  background: #E7E7E7;
  border-radius: 5px;
}
.recipes .card__img {
  height: 200px;
  background: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
}
.recipes .card__description {
  height: auto;
  display: flex;
  flex-direction: row;
  grid-template-columns: 52% 48%;
  padding: 15px 10px 50px 10px;
}
.recipes .ingredients {
  width: 50%;
  justify-self: center;
  padding-right: 5px;
}
.recipes .ingredients p {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0.9;
}
.recipes .ingredients > p:nth-child(1) {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
}
.recipes .ingredients > p:nth-child(2) {
  padding-top: 6px;
}
.recipes .howto {
  width: 50%;
  justify-self: center;
  padding-left: 5px;
}
.recipes .howto p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3em;
  text-justify: inter-word;
}
.recipes .howto > p:nth-child(1) {
  text-align: right;
  padding-right: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.error {
  color: #D04F4F;
  padding-top: 50px;
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .search-container {
    height: 55px;
    margin-bottom: 0px;
  }

  .recipes {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recipes .card {
    width: 80%;
  }
  .recipes .card .card__description {
    height: auto;
  }
  .recipes .card .ingredients p {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 0.9;
  }
  .recipes .card .ingredients > p:nth-child(1) {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 5px;
  }
  .recipes .card .ingredients > p:nth-child(2) {
    padding-top: 6px;
  }
  .recipes .card .howto p {
    font-size: 10px;
    line-height: 1.1em;
  }
  .recipes .card .howto > p:nth-child(1) {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 5px;
  }
}
/* BASE */
body {
  overflow-x: hidden;
  overflow-y: auto;
}
body * {
  box-sizing: border-box;
  font-size: 1em;
}
body main {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 100px;
}
body a {
  text-decoration: none;
}
body a:visited {
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: "DM regular";
  src: url("./../public/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM medium";
  src: url("./../public/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM bold";
  src: url("./../public/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./../public/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
